mixin rows(rows)
	each row in rows
			tr(class="timetable__row " + row.type, tabindex="0")
				td(class="timetable__cell")
					i(class="flight-icon " + row.columns.flightType)
				td(class="timetable__cell flight-number")=row.columns.flightNumber
				td(class="timetable__cell")
					img(class="aircompany__logo", src="#{row.columns.aircompanyLogo}")
				td(class="timetable__cell aircompany-title")=row.columns.aircompanyTitle
				td(class="timetable__cell airplane")
					span(class="airplane__type")=row.columns.airplaneType
					span(class="airplane__type_form_short")=row.columns.airplaneTypeShort
				td(class="timetable__cell airport")
					span(class="airport__title")=row.columns.airportTitle
					if row.columns.airportCode
						span(class="airport__code")=row.columns.airportCode
				td(class="timetable__cell time")=row.columns.departureTime
				td(class="timetable__cell time")=row.columns.arrivalTime
				td(class="timetable__cell status")=row.columns.status
				td(class="timetable__cell note")=row.columns.note
			tr(class="timetable__row flight-details" title="Нажмите, чтобы закрыть")
				td(class="timetable__cell flight-details__wrapper", colspan="10")
					div(class="flight-details__content")
						ul(class="flight-details__list")
							li(class="flight-details__item")
								h4(class="flight-details__heading") Авиакомпания
								span(class="flight-details__name")=row.columns.aircompanyTitle
							li(class="flight-details__item")
								h4(class="flight-details__heading") Логотип авиакомпании
								img(class="aircompany__logo", src="#{row.columns.aircompanyLogo}")
							li(class="flight-details__item")
								h4(class="flight-details__heading") Тип воздушного судна
								span(class="flight-details__name")=row.columns.airplaneType
							li(class="flight-details__item")
								h4(class="flight-details__heading") Аэропорт
								span(class="flight-details__name")=row.columns.airportTitle
							if row.columns.airportCode
								li(class="flight-details__item")
									h4(class="flight-details__heading") Код аэропорта
									span(class="flight-details__name")=row.columns.airportCode
							li(class="flight-details__item")
								h4(class="flight-details__heading") Время вылета
								span(class="flight-details__name")=row.columns.departureTime
							li(class="flight-details__item")
								h4(class="flight-details__heading") Время прилета
								span(class="flight-details__name")=row.columns.arrivalTime
							if !(row.columns.note == "---")
								li(class="flight-details__item")
									h4(class="flight-details__heading") Примечание
									span(class="flight-details__name")=row.columns.note

